.admin-song{
  display:flex;
  align-items:center;
  gap:12px;
  background:#f6f6f6;
  padding:10px;
  border-radius:12px;
  margin-top:10px;
}

.admin-song img{
  width:42px;
  height:42px;
  border-radius:8px;
  object-fit:cover;
}

.admin-song button{
  margin-left:auto;
  background:#ff5555;
  color:#fff;
  border:none;
  border-radius:8px;
  padding:6px 10px;
  cursor:pointer;
}

.logout{
  margin-top:16px;
  width:100%;
  padding:12px;
  background:#111;
  color:#fff;
  border:none;
  border-radius:14px;
}
